.container{
  display: flex;
  justify-content: center;
}

.body{
  background-color: #f6f6f6;
  width:640px;
  padding: 0 10px 30px;
}

.header{
  font-family: PingFang SC;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #313131;
  height:20px;
  line-height: 20px;
}

.additional{
  text-decoration: underline;
  cursor: pointer;
}

